*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    
     
    min-height: 100vh;

      background-image:radial-gradient(rgb(255, 119, 216),#a1c4fd,#FFBBBB );
       
    }
    #nw{
      flex-wrap:nowrap;
    }
#pac{
    color:tomato;
    font-size:50px;
      word-spacing: ;
}
#pec{
    color:brown;
    font-size: 30px;
    
}
 #kl{
    color:tomato;
    font-size:30px;
 }
 #aic{
    color:brown;
    font-size:30px;
 }
 #hl{
    color:tomato;
 }
 #pl{
   background-color:tomato;
   color:white;
 }
 #ol{
    color:#f87;
    font-size: 18px;
 }
  
  
 #school{
    color:steelblue;
 }
 #ban{
    background-color:powderblue;
 }
 #wan{
    length: 20px;
    width: 10px;
 }
  
 
 #fit{
   color:black;
   font-size: 100px;
 }
 