*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    
     
    min-height: 100vh;

      background-image:radial-gradient(rgb(255, 119, 216),#a1c4fd,#FFBBBB );
       
    }
#pac{
    color:tomato;
    font-size:50px;
      word-spacing: ;
}
#pec{
    color:brown;
    font-size: 30px;
    
}
 #kl{
    color:tomato;
    font-size:30px;
 }
 #aic{
    color:brown;
    font-size:30px;
 }
 #hl{
    color:tomato;
 }
 #pl{
   background-color:tomato;
   color:white;
 }
 #ol{
    color:#f87;
    font-size: 18px;
 }
  
  
 #school{
    color:steelblue;
 }
 #ban{
    background-color:powderblue;
 }
 #wan{
    length: 20px;
    width: 10px;
 }
 #ri{
    class: circular_image;
    border-radius:50%; 
 }
 #fit{
   color:#f36;
   font-size: 100px;
 }
 #ydb{
   min-height: 100vh;

   background-image:radial-gradient(rgb(255, 119, 216),#a1c4fd,#FFBBBB );
 }